@model Appointment

<h2>Delete Appointment</h2>

<div>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Appointment ID: @Model.AppointmentID</h4>
        <h4>Date: @Model.AppointmentDateTime.ToShortDateString()</h4>
        <h4>Time: @Model.AppointmentDateTime.ToShortTimeString()</h4>
        <h4>Patient: @Model.Patient.FirstName @Model.Patient.LastName</h4>
        <h4>Doctor: @Model.Doctor.FirstName @Model.Doctor.LastName</h4>
    </div>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="AppointmentID"/>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger"/>
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>