@model Doctor

<h2>Doctor Details</h2>

<dl class="row">
    <dt class="col-sm-2">Doctor ID</dt>
    <dd class="col-sm-10">@Model.DoctorID</dd>

    <dt class="col-sm-2">First Name</dt>
    <dd class="col-sm-10">@Model.FirstName</dd>

    <dt class="col-sm-2">Last Name</dt>
    <dd class="col-sm-10">@Model.LastName</dd>

    <dt class="col-sm-2">Specialization</dt>
    <dd class="col-sm-10">@Model.Specialization</dd>

    <dt class="col-sm-2">Contact Number</dt>
    <dd class="col-sm-10">@Model.ContactNumber</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.Email</dd>

    <dt class="col-sm-2">Department</dt>
    <dd class="col-sm-10">@Model.Department.DepartmentName</dd>
</dl>

<div>
    <a asp-action="Index">Back to List</a>
</div>